<!-- Vamos extender o template base -->
{% extends 'base.html' %}

{% block header_titulo %}
<div class="intro-lead-in">Descrição do bloco!</div>

<div class="intro-heading text-uppercase">CONTATO</div>
<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">xD</a>
{% endblock %}

<!-- Vamos reescrever esse bloco -->
{% block contato %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center my-5 p-5 border border-primary">

      <h3>Bloco Contato</h3>

    </div>
  </div>
</div>
{% endblock %}


{% block sobre %}
<!--Este bloco está vazio-->
{% endblock %}

{% block team %}
<!--Este bloco está vazio-->
{% endblock %}

{% block portfolio %}
<!--Este bloco está vazio-->
{% endblock %}

{% block servicos %}
<!--Este bloco está vazio-->
{% endblock %}
