<!-- Vamos extender o template base -->
{% extends 'base.html' %}

{% block header_titulo %}
<div class="intro-lead-in">Descrição do bloco!</div>

<div class="intro-heading text-uppercase">TEAM</div>
<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">xD</a>
{% endblock %}

<!-- Vamos reescrever esse bloco -->
{% block team %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center my-5 p-5 border border-primary">

      <h3>Bloco Team</h3>

      3333333333333333333333

    </div>
  </div>
</div>
{% endblock %}


{% block contato %}
<!--Este bloco está vazio-->
{% endblock %}

{% block sobre %}
<!--Este bloco está vazio-->
{% endblock %}

{% block portfolio %}
<!--Este bloco está vazio-->
{% endblock %}

{% block servicos %}
<!--Este bloco está vazio-->
{% endblock %}
